<div class="container my-4">
    <h2>Contact Us</h2>
    <div class="mb-3 my-4">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <select class="form-select form-select my-4" aria-label=".form-select-sm example">
        <option selected>Select your query</option>
        <option value="1">Web Development</option>
        <option value="2">Coding</option>
        <option value="3">Become Contributer</option>
        <option value="4">Others</option>
    </select>

    <div class="form-check my-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Are you a member?
        </label>
    </div>

    <div class="mb-3 my-4">
        <label for="exampleFormControlTextarea1" class="form-label">Explain Your Concern</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>




    <div><button type="button" class="btn btn-primary btn-ml my-3">submit</button></div>

</div>