<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css" integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<hr style="color: white; padding: 0;margin: 0;height: .5px;">
<div class="footer">
    <!-- <p><a href="#">Back to top</a></p> -->

    <div class="upper-div">
        <a class="footer-link" href="https://www.facebook.com/rohan.bhowmick.7"><span class="fa fa-facebook-square fa-2x"></span></a>
        <!-- <a href="https://www.facebook.com/w3schoolscom/" target="_blank" title="Facebook"><span class="fa fa-facebook-square fa-2x"></span></a> -->
        <a class="footer-link" href="https://www.instagram.com/itz_partha_b/"><span class="fa fa-instagram fa-2x"></span></a>
        <a class="footer-link" href="www.linkedin.com/in/partha-bhowmick-609621213"><span class="fa fa-linkedin-square fa-2x"></span></a>
        <a class="footer-link" href="https://github.com/noobiedoo404"><span class="fa-brands fa-github fa-2x"></span></a>
    </div>

    <div class="lower-div">
        <p class="copyright">© 2022 BlogSite by Partha Bhowmick.</p>

    </div>
    <!-- <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p> -->

</div>